* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background-color: #f8fcff;
    color: #333;
    line-height: 1.6;
}

/* Encabezado */
header {
    background: linear-gradient(90deg, #2d89ef, #74b9ff);
    color: white;
    text-align: center;
    padding: 20px;
}
.redes a {
    display: inline-block;
    margin: 10px;
    padding: 10px 25px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.whatsapp { background: #25D366; }

header h1 {
    font-size: 2em;
    margin-bottom: 5px;
}

header p {
    font-size: 1em;
    font-style: italic;
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Secciones */
.seccion {
    padding: 40px 20px;
    text-align: center;
    max-width: 900px;
    margin: auto;
}

.seccion h2 {
    color: #2d89ef;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.seccion p, .seccion ul {
    font-size: 1rem;
    margin-bottom: 15px;
}

ul {
    text-align: left;
    display: inline-block;
}

/* Imágenes */
.imagen {
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Pie de página */
footer {
    background: #2d89ef;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
}
